<button mat-stroked-button (click)="add()">Добавить транзакцию</button>

<mat-action-list>
  <div
    class="item"
    mat-list-item
    *ngFor="let transaction of transactions$ | async; let index = index"
  >
    <span>
      {{ transaction.title }}
      {{ transaction.amount }} ₽
      {{ transaction.period }}
      {{ transaction.periodConfig }}
    </span>
    <span>
      <button class="button" mat-stroked-button (click)="edit(index)">
        <mat-icon class="icon">edit</mat-icon>
      </button>
      <button class="button" mat-stroked-button (click)="remove(index)">
        <mat-icon class="icon">delete</mat-icon>
      </button>
    </span>
  </div>
</mat-action-list>
